/* employee-service.css */
.employee-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .employee-card {
    cursor: pointer;
    border: 1px solid var(--card-border-color);
    padding: 10px;
    text-align: center;
    width: 120px;
    border-radius: var(--border-radius);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .employee-card.selected {
    border-color: var(--primary-color);
    transform: scale(1.05);
  }
  
  .employee-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .employee-card:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow);
  }
  
  /* Service Container */
  .service-container {
    border: 1px solid var(--card-border-color);
    padding: 20px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    background-color: #f9f9f9;
    box-shadow: var(--box-shadow);
  }
  
  .service-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
  }
  
  .service-container p {
    margin: 5px 0;
    color: #555;
  }
  
  .service-container .price {
    font-size: 1.2rem;
    color: var(--success-color);
    font-weight: bold;
    margin-top: 10px;
  }
  
  .service-container hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid var(--card-border-color);
  }
  